
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';





.navbar-laravel {
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  float: left;
  text-decoration: none;
  display: block;
}



.navar {
  z-index: 4;
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
}

.nav {
    list-style: none;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #ccc;
}

.nav li a:hover {
    color: #fff;
}


.list-group-item {
  border-color: #333;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

select{
  color: #f00;
  option{
    color:#4f4f4f;
    &:first-child{
      display: none;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance:textfield;
}

input::-ms-clear {
    visibility:hidden
}

.card {
  margin: 10px 5px 30px 10px;
  padding: 30px;
}

.expense-number {
  margin: 50px 20px 30px 10px;
}


.expense-graph {
  margin: 30px 20px 30px 10px;
}

span {
  margin-right: 20px;
}

.space {
  margin: 20px;
}
 .side {
   display: inline-block;
 }
